body {
    margin: 0;
    background-color: lightblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}


main {
    background-color: rgba(255, 255, 255, .3);
    padding: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .5);
    border-radius: 15px;
    width: 85%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(71, 121, 71);
    position: relative;
}

.heading {
    font-size: 35px;
    font-weight: 200;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, .2);
    letter-spacing: 1px;
}

.joke-question,
.joke-answer,
.loading-message {
    font-size: 25px;
    font-weight: 400;
    min-width: 70%;
    text-align: center;
}

.joke-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    text-align: center;
}

.error-message {
    font-size: 25px;
    font-weight: 400;
    margin: 40px;
    color: red;
}

.btn {
    margin-top: auto;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, .2);
    border-color: rgba(0, 0, 0, .3);
    width: 300px;
    color: darkgreen;
}

.btn:hover {
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
    transition: all 300ms ease;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(109, 106, 106);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}